@media screen and (min-width: 1200px) {
  .container {
    width: 1440px;
  }
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-member {
    width: calc((100% - 72px) / 4);
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .customer-item {
    width: calc((100% - 120px) / 6);
  }
}