@media screen and (min-width: 428px) {
  .container {
    width: 396px;
  }

  /* .container.header {
    display: flex;
    justify-content: space-between;
  } */

  /* ----- Features ------ */
  .s-features {
    width: 100%;
    /* text-align: center; */
  }
  .section-title {
    text-align: center;
  }
  .section-after-title {
    width: 100%;
  }
  /* ------------- Footer ------------ */
  /* .container.ft {
      display: flex;
      flex-direction: column;
      
      text-align: center;
      align-items: center;
    }

    .footer-form {
      display: flex;
      flex-direction: column;
    }

    .footer-subcribe {
      text-align: center;
    } */
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  /* завуження контейнеру для ширини екрану 320 */
  .container {
    width: 328px;
  }
  .s-features {
    width: 100%;
  }
  .section-title {
    text-align: center;
  }
  .section-after-title {
    width: 100%;
  }
/* ------------------------ */

  .container.header {
    display: flex;
    justify-content: space-between;
  }

  .team .team-cards {
    gap: 72px;
  }

  .customer-item {
    width: calc((100% - 16px) / 2);
  }

  .container.ft {
    display: flex;
    flex-direction: column;
    gap: 72px;

    text-align: center;
    align-items: center;
  }
  .footer-tablet {
  }
  .social {
    text-align: center;
  }
  .footer-soc {
    margin: 0 auto;
    /* text-align: center;
      justify-content: center;
      align-items: center; */
  }
  .ft > .social {
    justify-content: center;
  }

  .footer-form {
    display: flex;
    flex-direction: column;
  }

  .footer-subcribe {
    width: 100%;
    text-align: center;
  }
}
