/* лого #4D5AE5, #2E2F42 */
/* акцент кнопка, ховер #4D5AE5 */
/* колір заголовків #2E2F42 */
/* осн. текст #434455 */
/* фон #E5E5E5 */
/* фон кнопок #F4F4FD */
/* border 1px solid #E7E9FC */

:root {
  --hero-background-color: #2e2f42;
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --pimary-bg-color: #4d5ae5;
  --primary-white-color: #ffffff;
  --secondary-button-color: #f4f4fd;
  --cards-bg-color: #f4f4fd;
  --icon-color: #8e8f99;
  --icon-hover: #404bbf;
  --icon-footer-hover: #31d0aa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.section {
  /* padding-top: 120px;
  padding-bottom: 120px; */
}

/* <div class="container"> 
Ширина «контейнера» відповідає макету і дорівнює 1158px.
«Контейнер» обгортає контент хедера, футера і секцій. Тобто знаходиться всередині них.*/
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

header {
  /* position: fixed;
  width: 100%; */
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 2px solid var(--secondary-button-color);
}

/* header navigation */
.header-nav {
  display: flex;
  align-items: center;
}

/* logo */
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
}

.web-logo {
  color: #4d5ae5;
}

.list {
  padding: 0;
  list-style: none;
}

/* site nav */
.header-list {
  display: flex;
  margin: 0;
  margin-left: 76px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.header-list .header-item:not(:last-child) {
  margin-right: 40px;
}

/* .header-list .header-item + .header-item {
  margin-left: 40px;
}
.header-list .header-item:last-child {
  margin-right: 0;
}  */

.header-list .header-link {
  display: block;
}

.header-link {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.header-list .header-link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--icon-hover);
  left: 0;
  bottom: -24px;
  border-radius: 2px;
}

.header-list .header-link:hover,
.header-list .header-link:focus {
  color: var(--accent-color);
}

.header-list .header-link.current {
  color: var(--accent-color);
}

/* header contacts */
.header-contact {
  display: flex;
  margin-left: auto;
}

.header-contact .header-item + .header-item {
  margin-left: 40px;
}

.header-contact .header-link:hover,
.header-contact .header-link:focus {
  color: var(--accent-color);
}

/* hero */
.s-hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/bg-people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
.hero {
  text-align: center;
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 48px;
  color: var(--primary-white-color);
  width: 494px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

.s-features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.features {
  padding-left: 15px;
  padding-right: 15px;
}

.features .list {
  display: flex;
  gap: 24px;
}
.feature-svg {
  width: 264px;
  height: 112px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--secondary-button-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-svg:hover {
  /* border: 1px solid #8e8f99; */
}

.section-title {
  margin-top: 8px;
  margin-bottom: 8px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.section-after-title {
  width: 264px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
}

/* works "We are doing" */
.s-works {
  padding-bottom: 120px;
}
.works {
}
.works .list {
  display: flex;
  gap: 24px;
}

.works-title {
  margin-top: 0;
  margin-bottom: 72px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

/* Our team */
.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--secondary-button-color);
}

.team {
  padding-left: 15px;
  padding-right: 15px;
}

.team-title {
  margin-top: 0;
  margin-bottom: 72px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.team .team-cards {
  display: flex;
  gap: 24px;
}

.team-member {
  width: 264px;
  background-color: var(--primary-white-color);
  border: 1px solid var(--cards-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.member-description {
  padding-top: 32px;
  padding-bottom: 32px;
}

.card-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.card-text {
  color: var(--primary-text-color);
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.card-category {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--pimary-bg-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* колір іконки */
.team-soc-icon {
  fill: var(--cards-bg-color);
}

.team-soc-link:hover {
  background-color: var(--icon-hover);
}
.team-soc-link:focus {
  background-color: var(--icon-hover);
}

/* Customers */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  gap: 30px;
}

.customer-item {
  width: calc((100% - 120px) / 6);
  height: 92px;
}
.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* hover - нвітній спосіб, також при такому способі наслідується не тільки колір, а й маржини, тінь, анімацію фонтсайз та ін.властивості*/
.customer-link:hover {
  border-color: var(--icon-hover);
  fill: var(--icon-hover);
}
.customer-link:hover .customer-icon {
  fill: var(--icon-hover);
}
.customer-link:focus {
  border-color: var(--icon-hover);
}
.customer-link:focus .customer-icon {
  fill: var(--icon-hover);
}

/* ще один спосіб задати ховер:
задаєм колір .customer-link, хоч він там не потрібен
.customer-icon {
  fill: currentColor;
}
.customer-link:hover {
  border-color: var(--icon-hover);
  color: var(--icon-hover);
} 
також можна задати на .customer-link не колір (самий старий, компактний і трішечки некоректний спосіб), а fill і:
.customer-link:hover {
  border-color: var(--icon-hover);
  fill: var(--icon-hover);
} */

/* button */
.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 12px 24px;
  /* min-width: 170px; */
  color: #ffffff;
  background-color: var(--pimary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: (color, background-color, box-shadow) 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  cursor: pointer;
}

.button.primary {
  font-family: Roboto, sans-serif;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary:hover {
  background-color: var(--icon-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button.primary:focus {
  background-color: var(--icon-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* border: 1px solid var(--icon-hover); */
}

.button.secondary {
  font-family: Roboto, sans-serif;
  color: var(--accent-color);
  background-color: var(--secondary-button-color);
  border: 1px solid #e7e9fc;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #e7e9fc;
  background-color: var(--hero-background-color);
  /* display: flex;
  gap: 120px; */
}
.footer .ft {
  display: flex;
  gap: 120px;
}

.footer-logo {
  margin-bottom: 16px;
  /* чомусь маржин вниз не відображається (не працює) -> тре display: inline-block і все працює */
  color: var(--secondary-button-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
}
.footer-text {
  width: 264px;
  margin-top: 16px;
  line-height: 24px;
}

.social {
  display: flex;
  flex-wrap: wrap;
}
.footer-soc {
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* text-align: center; */
}

.social {
  width: 208px;
  height: 80px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-items {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon {
  height: 24px;
  fill: var(--secondary-button-color);
}

.footer-soc-link:hover {
  background-color: var(--icon-footer-hover);
}
.footer-soc-link:focus {
  background-color: var(--icon-footer-hover);
}

.ft-subscribe {
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* text-align: center; */
}
.footer-subcribe .footer-soc {
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}
.footer-input {
  /* width: 100%; */
  width: 264px;
  height: 40px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-button-color);
  padding-left: 8px;
  /* outline-color: none; */
  /* outline-color: var(--accent-color); */
  border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
}

.button.ft-send {
  display: flex;
  gap: 16px;
  width: 165px;
  height: 40px;
  font-family: Roboto, sans-serif;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.ft-send:hover {
  background-color: var(--icon-hover);
}
.button.ft-send:focus {
  background-color: var(--icon-hover);
}
.subs-icon {
  fill: var(--secondary-button-color);
}

/* ------Portfolio------ */
.portf-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portf-btn-list {
  margin: 0;
  list-style: none;
}
.portfolio-menu {
  margin-top: 0;
  margin-bottom: 72px;
}
.portfolio-menu .portf-btn-list {
  display: flex;
  justify-content: center;
}
.portf-btn-list .filter-btn {
  margin-right: 24px;
}
.portf-btn-list .filter-btn:last-child {
  margin-right: 0;
}
.button.secondary {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn .button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--primary-white-color);
  background-color: var(--icon-hover);
}
.filter-btn .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--primary-white-color);
  background-color: var(--icon-hover);
}
/* portfolio cards */

.portf-section .container {
  padding-left: 0;
  padding-right: 0;
}

.portf-projects.list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portf-projects .project-card {
  width: calc((100% - 48) / 3);
  border: 0.5px solid var(--cards-bg-color);
  /* flex-basis: calc(100% / 3 - (відступ між елементами списку)); - краще задавати у %: браузер сам вирахує шир.
  задаємо правий та нижній (або лівий та верхній) маржени елементам списку і від'ємний маржин контейнуру такої ж ширини*/
  /*abo u % vid rozmiru bat'ka: width: 25%;
  abo width: calc(100% / 2); - todi brawser sam rahue pixeli, zamst' nas ;
  prybraty margins u krayn'ogo elementu - calc((100% - summa marginiv u ryadku -1) / kilkist' elementiv u ryadku)
  summa marginiv u ryadku -1 = kil'k. margine u ryadku * znachennya margine
  */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-projects .project-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card:nth-child(3n) {
  margin-right: 0;
}
.project-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portf-card-item {
  display: block;
  text-decoration: none;
}
.portf-card-item:hover .pcard-top-text,
.portf-card-item:focus .pcard-top-text {
  transform: translateY(0);
}

.pcard-top-wrap {
  position: relative;
  overflow: hidden;
}
.pcard-top-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cards-bg-color);
  padding: 40px 32px;
  background-color: var(--accent-color);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.portf-card-descript {
  padding: 32px 16px;
  border: 1px solid var(--cards-bg-color);
}
.portf-card-descript .section-title {
  margin-top: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  padding: 24px;
  padding-top: 72px;
  /* padding-right: 24px; */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 506px;
  background-color: #fcfcfc;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal-close:hover {
  background: var(--icon-hover);
  cursor: pointer;
  fill: var(--primary-white-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-title {
  /* width: 360px; */
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.form-field {
  margin-bottom: 8px;
}
.input-wrap {
  position: relative;
  /* padding-right: 24px; */
}

.form-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  padding-left: 38px;
  /* outline-color: none; */
  outline-color: var(--accent-color);
}

.form-input:focus {
  /* border: 1px solid #4D5AE5;
  border-radius: 4px;  */
  /* border-color: var(--accent-color); */
}
.form-input:focus + .input-icon {
  fill: var(--accent-color);
}
.form-input:not(:placeholder-shown):not(:focus):valid {
}
.form-input:not(:placeholder-shown):not(:focus):invalid {
}

.form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.input-icon {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
}

.form-label {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-comment {
  padding: 12px;
  width: 100%;
  min-height: 120px;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: var(--accent-color);
  background-color: transparent;
  resize: none;
}
.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  display: flex;
  align-items: center;
}
.check-text::before {
  content: " ";
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--hero-background-color);
  border-radius: 2px;
  display: block;
  margin-right: 7px;
}
.input-check:checked + .check-text::before {
  background-color: var(--icon-hover);
  border: none;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.a-privacy {
  padding-left: 5px;
  color: var(--accent-color);
}

/* по тз до дз для іконки галочки
.check-text span {
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--hero-background-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-check:checked + .check-text span {
  background-color: var(--icon-hover);
  border: none;
  fill: var(--cards-bg-color);
} */

/* ще один варіант, який часто зустрічається крапочка-перемикач:
.check-text::after {
  content: " ";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: block;
  margin-right: 7px;
  transition: transform 300ms linear, background-color 300ms linear;
}
.input-check:checked + .check-text::after {
  transform: translate(18px);
  background-color: #fff;
}
.input-check:checked + .check-text::before {
  background-color: rgb(133, 197, 114);
  border: none;
} */

.button.modal-sub {
  display: block;
  margin: 0 auto;
  /* text-align: center; */
  /* justify-content: center; */
  margin-top: 16px;
  width: 169px;
  height: 56px;
  font-family: Roboto, sans-serif;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.modal-sub:hover {
  background-color: var(--icon-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button.modal-sub:focus {
  background-color: var(--icon-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* border: 1px solid var(--icon-hover); */
}
